body {
  background-color: #A1867F;       /*This will set the overall background one color.*/
}
.vacay-img {                       /*This will shrink the image to 25% of it's original size, make it floating on the right edge, and center it next to the text boxes.*/
  width: 25%;
  height: 25%;
  float: right;
  padding-right: 3%;
  padding-top: 2.2%;
}
hr {                              /*This sets a horizontal rule with an image after the header and before the footer. Sizing adjusted to image size.*/
  width: 36px;
  height: 36px;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
  background-image: url("images/blue-atom.png");
  background-size: cover;
}
.top-header {                     /*Adjusts the text, font, color, etc. of the main header at the top of the page.*/
  height: auto;
  width: auto;
  background-color: #585481;
  text-align:center;
  font-size: 45px;
  font-family: fantasy, sans-serif, serif;
  border: 0px black solid;
}
.top-header h1 {                  /*Centers the h1 text vertically in the section.*/
  margin: 0px;
  padding: 50px 0px 0px 0px;
}
footer {                            /*Adjusts the footerto be centered with specific color, font, etc.*/
  width: auto;
  height: 50px;
  background-color: #585481;
  font-family: fantasy, sans-serif, serif;
  text-align: center;
  padding: 1px;
  position: relative;
}
.welcome h2 {
  text-align: center;
  font-family: fantasy, sans-serif, serif;
  font-size: 35px;
  color: #D1BCE3;
  letter-spacing: 4px;
  background-color: #19297C;
  border: 3px #19297C solid;
  border-radius: 5px;
  width: 500px;
  margin-left: 35%;
  padding-top: 8px
}
section h2 {                           /*This adjusts the h2 elements in the main section.*/
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 36px;
  font-family: copperplate, sans-serif, serif;
}
main p {                            /*This adjusts the p elements in the entire main section.*/
  font-size: 18px;
  font-family: monaco, sans-serif, serif;
}
.intro {                            /*This adjusts the box and font for the intro section.*/
  width: 63.2%;
  height: auto;
  margin: 7px 0px 4px 5px;
  background-color: #19297C;
  border: 3px #19297C solid;
  border-radius: 5px;
  color: #D1BCE3;
  text-align: center;
}
.intro p {                          /*This fixes text alignment for the p element in the intro section.*/
  margin-bottom: 0px;
}
.intro ul {                         /*This adjusts the unordered list that follows at the end of the intro section.*/
  padding-left: 100px;
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-family: monaco, sans-serif, serif;
}
.about {                            /*This adjusts the box and font for the about section.*/
  width: 63.2%;
  height: auto;
  margin: 4px 0px 4px 5px;
  background-color: #19297C;
  border: 3px #19297C solid;
  border-radius: 5px;
  color: #D1BCE3;
  text-align: center;
}
.contact {                            /*This adjusts the box and font for the contact section.*/
  width: 63.2%;
  height: auto;
  margin: 4px 0px 7px 5px;
  background-color: #19297C;
  border: 3px #19297C solid;
  border-radius: 5px;
  color: #D1BCE3;
  text-align: center;
}
.contact h2 {                         /*This fixes the margin on h2 in the contact section.*/
  margin: 0px
}
.contact ol {                         /*This styles the font for the ordered list that follows at the end of the contact section.*/
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: monaco, sans-serif, serif;
}
a:link { color: lightgreen }              /*This styles my links with pseudo-class selectors.*/
a:visited { color: #D1BCE3 }
a:hover { color: hotpink}
a:active { color: red}
